<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="form">
            <form action="/update" method="POST"> 
                <div><b>Edit user</b></div><br>
                <div>
                    <label>First Name</label>
                    <input type="text" name="firstName" required value="<%=dataUser.firstName%>"/>
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" name="lastName" required value="<%=dataUser.lastName%>"/>
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" name="email" required value="<%=dataUser.email%>"/>
                </div>
                <div>
                    <label>Address</label>
                    <input type="text" name="address" required value="<%=dataUser.address%>"/>
                </div>
                <input type="hidden" name="id" value="<%=dataUser.id%>">
                <div>
                    <button type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
</body>
</html>